<!-- mouse events to show or hide the delete option -->
<div class="exerciseCardStyle row">

  <i ng-click="addRecord()" class="fa fa-plus fa-lg exerciseIcons" name="cardioAdd"></i>

  <div class="col-xs-12">
    <h1>{{cardio.name}}</h1>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <p><strong>Modalidad:</strong> {{cardio.cardioType}}</p>
    </div>
    <div class="col-xs-6 col-md-12">
      <p><strong>Intensidad:</strong> {{cardio.intensity}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-12">
      <p><strong>Distancia:</strong> {{cardio.distance}}</p>
    </div>
    <div class="col-xs-6 col-md-12">
      <p><strong>Tiempo:</strong> {{cardio.time}}</p>
    </div>
  </div>

</div>
