<!-- mouse events to show or hide the delete option -->
<div class="exerciseCardStyle row">

  <div>
    <p class="exerciseIcons">
      <i ng-click="addRecord()" class="fa plus fa-lg"></i>
    </p>
  </div>

  <div class="col-xs-12">
    <h1>{{exerciseName}}</h1>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <p><strong>Grupo Muscular:</strong> {{exerciseMG}}</p>
    </div>
    <div class="col-xs-6 col-md-12">
      <p><strong>Peso:</strong> {{exerciseWeight}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-12">
      <p><strong>Series:</strong> {{exerciseSeries}}</p>
    </div>
    <div class="col-xs-6 col-md-12">
      <p><strong>Repeticiones:</strong> {{exerciseRepetitions}}</p>
    </div>
  </div>


</div>
