<div id="addExerciseStyle">
  <div class="container">

    <!-- used for right align the form -->
    <div id="firstContent">
      <h1>Añade un ejercicio predeterminado de nuestra lista o crea el tuyo personalizado</h1>

      <p style="text-align:center">
        <label class="radio-inline"><input type="radio" ng-model="exerciseType"
                                           value="custom" name="customButton">Personalizado</label>
        <label class="radio-inline"><input type="radio" ng-model="exerciseType"
                                           value="predetermined" name="predButton">Predeterminado</label>
      </p>

      <!-- this div will show only when an error occurs -->
      <div class="alert alert-danger" ng-if="error" name="errorAddingExercise">
        <strong>Woops!</strong> {{errorMsg}}
      </div>
      <!-- this div will show only when an success occurs -->
      <div class="alert alert-success" ng-if="success" name="successAddingExercise">
        <strong>Éxito!</strong> {{successMsg}}
      </div>

      <div ng-switch="exerciseType">
        <!-- add custom exercise -->
        <form role="form" ng-submit="addCustom()" ng-switch-when="custom">
          <!-- muscle group input form -->
          <div class="form-group">
            <label for="selectMGCustom">Selecciona un grupo muscular:</label>
            <select id="selectMGCustom" ng-click="hideError()" class="form-control"
                    ng-model="$parent.mgSelected" ng-options="x for x in predeterminedMG" required>
            </select>
          </div>
          <!-- user name input form -->
          <div class="form-group">
            <label for="customNameExercise">Ponle un nombre a tu ejercicio:</label>
            <input id="customNameExercise" ng-click="hideError()" type="text" ng-model="$parent.customName"
                   class="form-control" placeholder="Introduce el nombre de tu ejercicio" required />
          </div>
          <!-- submit button form-->
          <p style="text-align:center">
            <button type="submit" class="btn btn-default theme-accent" name="addCusButton">Añadir
              ejercicio personalizado</button>
          </p>
        </form>

        <!-- add predetermined exercise -->
        <form role="form" ng-submit="addPredetermined()" ng-switch-when="predetermined">
          <!-- muscle group input form -->
          <div class="form-group">
            <label for="selectMGPredetermined">Selecciona un grupo muscular:</label>
            <select id="selectMGPredetermined" ng-click="hideError()" class="form-control"
                    ng-model="$parent.mgSelected" ng-options="x for x in predeterminedMG" required>
            </select>
          </div>
          <!-- exercise name input form -->
          <div class="form-group">
            <label for="selectExercise">Selecciona un ejercicio:</label>
            <select id="selectExercise" ng-click="hideError()" class="form-control"
                    ng-model="$parent.selectedPredetermined" required
                    ng-options="x.name for x in predeterminedExercises | filter: {'muscleGroup':mgSelected}">
            </select>
          </div>
          <!-- submit button form-->
          <p style="text-align:center">
            <button type="submit" class="btn btn-default theme-accent" name="addPredButton">Añadir
              ejercicio predeterminado</button>
          </p>
        </form>
      </div>

    </div>

  </div>
</div>
