<div id="exerciseHistoryStyle">
  <div class="container">
    <h1 id="firstContent">{{nameExercise}}</h1>
    <div class="divider"></div>

    <div class="row">
      <img class="img-responsive col-xs-offset-4 col-xs-4" ng-src="{{idExercise}}" style="padding:1%">
    </div>

    <h2>Histórico de tus marcas en el ejercicio:</h2>

    <!-- this div will show only when an error occurs -->
    <div class="alert alert-danger" ng-if="error" name="errorSignIn">
      <strong>&#10008</strong> {{errorMsg}}
    </div>

    <div id="recordHistoryList">
      <record ng-repeat="record in recordHistory"></record>
    </div>

    <div ng-if="!historyCompleted" id="loaderRecords">
      <div class="loader"></div>
    </div>

    <div ng-if="historyCompleted" id="historyFeedback">
      <p>No hay más marcas que mostrar en el ejercicio</p>
    </div>

  </div>
</div>
