<div id="homeStyle">
  <div class="container">

    <h1 id="firstContent" style="text-align:center">Echa un vistazo rápido a los ejercicios que has
      realizados hasta el momento</h1>

    <!-- add exercise button -->
    <p style="text-align:center">
      <a id="addExercise" href="#/addExercise" class="btn btn-default theme-accent"
         role="button">Añadir ejercicio</a>
    </p>

    <!-- this div will show only when an error login occurs -->
    <div class="alert alert-danger" ng-if="error" name="errorSavingRecord">
      <strong>Woops!</strong> {{errorMsg}}
    </div>
    <!-- this div will show only when an success login occurs -->
    <div class="alert alert-success" ng-if="success" name="successSavingRecord">
      <strong>Éxito!</strong> {{successMsg}}
    </div>

    <!-- Exercise Card -->
    <exercise-card ng-repeat="exercise in exercisesList"
                   class="col-lg-3 col-md-4 col-sm-6"></exercise-card>


    <!-- MODAL SECTION -->

    <!-- exercise add record modal popup -->
    <div id="recordModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <h2>¡Añade tu marca de hoy!</h2>
          </div>
          <div class="modal-body">
            <form role="form" ng-submit="saveRecord()">
              <!-- weight input exercise -->
              <div class="form-group">
                <label for="weightExercise"><strong>Peso*: </strong></label>
                <input id="weightExercise" type="text" ng-model="recordModal.weight" required
                       class="form-control" placeholder="Introduce el peso en kg (p.ej., 10.5)"
                       ng-class="{maxLength: weightMaxLength}" />
                <p class="textMaxLength" ng-if="weightMaxLength" name="weightMaxLength">Límite de caracteres alcanzado</p>
              </div>
              <!-- series input exercise -->
              <div class="form-group">
                <label for="seriesExercise"><strong>Series*: </strong></label>
                <input id="seriesExercise" type="text" ng-model="recordModal.series" required
                       class="form-control" placeholder="Introduce las series (p.ej., 4)"
                       ng-class="{maxLength: seriesMaxLength}" />
                <p class="textMaxLength" ng-if="seriesMaxLength" name="seriesMaxLength">Límite de caracteres alcanzado</p>
              </div>
              <!-- repetitions input exercise -->
              <div class="form-group">
                <label for="repetitionsExercise"><strong>Repeticiones*: </strong></label>
                <input id="repetitionsExercise" type="text" ng-model="recordModal.repetitions"
                       class="form-control" placeholder="Introduce las repeticiones (p.ej., 12)"
                       ng-class="{maxLength: repetitionsMaxLength}" required/>
                <p class="textMaxLength" ng-if="repetitionsMaxLength" name="repetitionsMaxLength">Límite de caracteres alcanzado</p>
              </div>
              <!-- commentary input exercise -->
              <div class="form-group">
                <label
                  for="commentaryExercise"><strong>Comentario: </strong></label>
                <textarea id="commentaryExercise" rows="5"
                          ng-model="recordModal.commentary" class="form-control"
                          placeholder="Introduce un comentario (opcional)"
                          ng-class="{maxLength: commentaryMaxLength}"></textarea>
                <p class="textMaxLength" ng-if="commentaryMaxLength" name="commentaryMaxLength">Límite de caracteres alcanzado</p>
              </div>
              <p style="font-size: 75%">* Campos obligatorios.</p>
              <button class="btn btn-default" ng-click="closeRecordModal()" name="Cancelar">
                Cancelar
              </button>
              <button type="submit" class="btn btn-default  theme-accent" name="Guardar">
                Guardar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
