#homeStyle .btn {
  width: 100%;
  margin: 0.5%;
}

#homeStyle #addExercise {
  width: auto;
  margin: 0;
}

textarea {
  max-width: 100%;
}

#homeStyle h1 {
  font-size: 200%;
  text-align: center;
}

#homeStyle h2 {
  font-size: 180%;
  text-align: center;
}

/* user alert if input is too long*/
#homeStyle .maxLength {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(247, 0, 0, 0.79);
}

#homeStyle .maxLength:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(247, 0, 0, 0.79);
}

#homeStyle .textMaxLength {
  color: rgba(247, 0, 0, 0.79) !important;
  font-size: 90%;
}

#homeStyle .modal-content {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  background-image: url("/img/modalHeader.png");
}

#homeStyle .modal-header {
  border-bottom: none;
}

#homeStyle .modal-header h2{
  font-weight: 600;
}

#homeStyle .close {
  opacity: .8;
  color: #fff;
}
