#homeStyle .btn {
  width: 100%;
  margin: 0.5%;
}

textarea {
  max-width: 100%;
}

#homeStyle h1 {
  font-size: 200%;
  text-align: center;
}

#homeStyle h2 {
  font-size: 180%;
  text-align: center;
}
