#starterStyle input {
  margin: 5% 0;
}

#starterStyle #loginForm {
  margin-top: 25%;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 0 10px 10px #4d4d4d;
  padding: 15px 40px;
}

#starterStyle h1 {
  font-size: 200%;
  text-align: center;
}

#starterStyle {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #f1f1f1;
  background-image: url("/img/login.jpeg");
}
