<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

    <display-name>trainingTracker</display-name>
    <description>
      trainingTracker
    </description>
  <welcome-file-list>
      <welcome-file>index.html</welcome-file>
  </welcome-file-list>
    <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>org.trainingTracker.servlets.SignUp</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>org.trainingTracker.servlets.SignIn</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>ListPerformed</servlet-name>
    <servlet-class>org.trainingTracker.servlets.ListPerformed</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>ListPerformed</servlet-name>
    <url-pattern>/listPerformed</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>SaveRecord</servlet-name>
    <servlet-class>org.trainingTracker.servlets.SaveRecord</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>SaveRecord</servlet-name>
    <url-pattern>/saveRecord</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>GetPredetermined</servlet-name>
    <servlet-class>org.trainingTracker.servlets.GetPredetermined</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>GetPredetermined</servlet-name>
    <url-pattern>/getPredetermined</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>AddExercise</servlet-name>
    <servlet-class>org.trainingTracker.servlets.AddExercise</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>AddExercise</servlet-name>
    <url-pattern>/addExercise</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>ModifyExercise</servlet-name>
    <servlet-class>org.trainingTracker.servlets.ModifyExercise</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>ModifyExercise</servlet-name>
    <url-pattern>/modifyExercise</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>RemoveExercise</servlet-name>
    <servlet-class>org.trainingTracker.servlets.RemoveExercise</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>RemoveExercise</servlet-name>
    <url-pattern>/removeExercise</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>ListRecordHistory</servlet-name>
    <servlet-class>org.trainingTracker.servlets.ListRecordHistory</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>ListRecordHistory</servlet-name>
    <url-pattern>/listRecordHistory</url-pattern>
    </servlet-mapping>
</web-app>